#avatar {
  >a {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid #b6b6b6;
    overflow: hidden;
    transform: translateZ(0); // fixed the zoom in Safari
    -webkit-transition: border-color 0.35s ease-in-out;
    -moz-transition: border-color 0.35s ease-in-out;
    transition: border-color 0.35s ease-in-out;
  }

  &:hover > a {
    border-color: #fff;
  }

  img {
    width: 100%;
    height: 100%;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    transition: transform .5s;

    &:hover {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
} // #avatar
