#avatar
  margin-top: 1rem

  img
    width: 100px  // Puedes ajustar el tamaño a tu gusto
    height: 100px
    object-fit: cover
    border-radius: 50%  // Hace que el avatar sea circular
    border: 2px solid #ccc  // Opcional: borde para que resalte un poco
